<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Converter</title>
    <link rel="stylesheet" href="../static/css/style copy.css">
</head>
<body>
    <div class="container">
        <h1>Language Converter</h1>
        <form id="languageForm" action="/process-audio" method="post">
            <div class="dropdown">
                <select name="device_index" id="micDropdown">
                    {% for device in devices %}
                        <option value="{{ device[0] }}">{{ device[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" id="proceedBtn">Proceed</button>
        </form>
        <div id="output"></div>
        <audio id="audioPlayer" controls style="display: none;"></audio>
    </div>
    <script src="../static/js/app copy.js"></script>
</body>
</html>
